.second-title__p{
    @extend %kapli;
    position: relative;
    top: -400px;
    @include _768{
        
        position: relative;
        left: 75%
    }
}
.squares{
    display: flex;
    width: 124px;
    justify-content: space-between;
    
    .square{
        position: relative;
        left: 880px;
        top: -270px;
        border-radius: 3px;
        background-color: white;
        width: 16px;
        height: 16px;
        opacity: 40%;
        &:first-child{
            opacity: 1;
        }
    }
}
.second-title, .third-title, .forth-title, .map-info{
    @include _768{
        position: relative;
        top: -500px;
    }
}
.second-title{
    @include _768{
        position: relative;
        top: -850px;
    }
}