.third-title__p{
    @extend %kapli;
    position: relative;
    top: -150px;
    @include _768{
        left: 75%;
    }
}
.third-title{
    @include _768{
        position: relative;
        // top: -3400px;
        top: -850px;
    }
}