%kapli {
    font-family: $elmess;
    color: white;
    font-weight: 700;
    font-size: 42px;
    line-height: 58.8px;
    text-align: center;
    &::before{
        content: url(/project/html/lib/img/Rectangle\ 6.svg);
        position: relative;
        right: 80px;
    }
    &::after{
        content: url(/project/html/lib/img/Rectangle\ 7.svg) ;
        position: relative;
        left: 80px;
    }
    @include _1440-1024{
        display: flex;
        justify-content: center;
        position: relative;
        left: 250px;
    }
}
@mixin photo($c, $b) {
    position: relative;
    left: $c;
    top: $b;
}
.first-title{
    height: 1300px;
    @include _1440-1024{
        max-width: 100%;
    }
    @include _768{
        &:not(.first-title__p){
            display: flex;
            flex-direction: column;
        }
        display: none;
        visibility: hidden;
        position: relative;
        left: 60%
    }
}
.first-title__p{
    @extend %kapli;
    position: relative;
    top: 0px;
    
    @include _768{
        max-width: 100%;
        position: relative;
        font-weight: 350;
        font-size: 26px;
        left: 15%;
    }
}
.first-title__img_numb_first{
    position: relative;
    left: 300px;
    top: 787px;
    
    @include _768{
        max-width: 100px;
        max-height: 100%;
        left: 15%;
    }
}
.first-title__img_numb_second{
    position: relative;
    left: 1190px;
    top: 240px;
    @include _1440-1024{
        max-width: 100%;
    }
    @include _768{
        max-width: 100%;
        max-height: 100%;
        left: 15%;
        top: 10%
    }
}
.first-title__img_numb_third{
    @include photo(750px, -20px);
    @include _1440-1024{
        max-width: 100%;
    }
    @include _768{
        max-width: 100%;
        max-height: 100%;
        left: 15%;
    }
}
.first-title__img_numb_fourth{
    @include photo(750px, 0);
    @include _1440-1024{
        max-width: 100%;
    }
    @include _768{
        max-width: 100%;
        max-height: 100%;
        left: 15%;
    }
}
.first-title__img_numb_fifth{
    @include photo(1190px, -262px);
    @include _1440-1024{
        max-width: 100%;
    }
    @include _768{
        max-width: 100%;
        max-height: 100%;
        left: 15%;
    }
}
.problems, .mini-titles{
    position: relative;
    top: -700px;
}