footer{
    position: relative;
    top: 590px;
    font-size: 14px;
    font-weight: 400;
    .footer__p{
        width: 300px;
        position: relative;
        left: 215px;
        @extend %Font-Proxima;
        &::before{
            content: '\A9';
        }
        @include _1440-1024{
            position: relative;
            left: 300px;
        }
    }
    @include _768{
        position: relative;
        top: 3060px;
        left: 28%
    }
}
