.mini-titles{
    @include _768{
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
}
.mini-titles__p {
    width: 336px;
    font-family: $elmess;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    &:first-child{
        position: relative;
        top: -350px;
        left: 385px;
    }
    &:nth-child(2){
        position: relative;
        top: -645px;
        left: 790px;
    }
    &:nth-child(3){
        position: relative;
        top: -395px;
        left: 790px;
    }
    &:nth-child(4){
        position: relative;
        top: -745px;
        left: 1235px;
    }
    &:last-child{
        position: relative;
        top: -530px;
        left: 1235px;
    }
    
}
