%Font-Proxima{
    font-family: 'proxima', sans-serif;
    color: white;
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 660px;
    position: relative;
    left: 620px;
   
    @extend %Font-Proxima;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    @include _768{
        left: 600px;
        width: 720px;
        font-size: 24px;
    }
}