$elmess: "El Messiri", 'sans-serif';

.main__h2{
    font-family: $elmess;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    color: white;
    width: 300px;
    height: 34px;
    position: relative;
    left: 810px;
    top: -600px;
    &::before{
        content: url(lib/img/Rectangle3.svg);
        position: relative;
        right: 80px;
    }
    &::after{
        content: url(lib/img/Rectangle5.svg);
        position: relative;
        left: 80px;
    }
    @include _768{
        font-family: $elmess;
        font-size: 19px;
        font-weight: 350;
        
        text-align: center;
        color: white;
        width: 300px;
        height: 34px;
        position: relative;
        left: 810px;
        top: -300px;
    }
}