.name-description{
    position: relative;
    top: -20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
}
.description__massage{
    width: 476px;
    height: 170px;
}
.description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include _768{
        position: relative;
        left: 60%;
    }
}

.about__first{
    .convert{
        position: relative;
        top: 55px;
        @include _768{
            position: relative;
            right: 15%;
            top: 303px;
        }
    }
    .description-img{
        @include _768{
            position: relative;
            left: 60%;
        }
    }
}