.header__button{
    position: relative;
    top: -25px;
    left: 1455px;
    border: none;
    border-radius: 3px;
    background: rgba(1, 138, 190, 1);
    gap: 10px;
    width: 164px;
    height: 36px;
    @extend %Font-Proxima;
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    &:hover{
        cursor: grab;
    }
    @include _768{
        width: 246px;
        height: 56px;
        font-size: 23px;
    }
}